* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
header {
  /*border-bottom: 1px solid black;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}
header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
}
header li {
  margin: 10px;
  font-size: 20px;
}
.dugmeheader {
  border: 1px solid grey;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  background-color: white;
}
.dugmeheader:hover {
  background-color: rgb(47, 47, 212);
  color: white;
  transition-duration: 0.5s;
}
.prvasekcija {
  width: 100%;
  height: 78vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
.naslov {
  width: 40%;
  height: 70vh;
  /* border: black 1px solid;*/
}
.prvasekcija img {
  width: 40%;
  height: 70vh;
}
.naslov h1 {
  font-size: 50px;
  color: rgb(71, 71, 71);
  margin: 20px;
}
.naslov h3 {
  font-size: 25px;
  color: gray;
  margin-left: 20px;
  margin-bottom: 20px;
}
.getstarted {
  width: 150px;
  height: 40px;
  border: none;
  background-color: #16df7e;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  box-shadow: 5px 5px 18px #16df7e;
}
.watchvideo {
  border: none;
  background-color: white;
  color: gray;
  font-size: larger;
  margin-left: 50px;
}
.drugasekcija {
  border: 1px solid black;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.kartica {
  background-color: rgb(238, 235, 235);
  width: 300px;
  height: 250px;
  padding: 20px;
}
.kartica p,
h3 {
  margin-top: 20px;
}
.kartica p {
  font-size: 17px;
}
.kartica h3:hover {
  color: #16df7e;
}
.trecasekcija {
  border: 1px solid black;
  width: 100%;
  height: 80vh;
  display: flex;

  justify-content: center;
}
.fas {
  font-size: 30px;
  color: #16df7e;
}
.far {
  font-size: 30px;
  color: #16df7e;
}
.trecasekcija img {
  width: 550px;
  height: 350px;
  margin-top: 100px;
}
.trecasekcijatext {
  margin-top: 100px;
  margin-left: 50px;
}
.trecasekcijatext h1 {
  font-size: xx-large;
}
.trecasekcijatext p {
  font-size: 20px;
  margin-top: 20px;
}
.trecasekcijatext li {
  font-size: 17px;
  margin-top: 10px;
}
.cetvrtasekcija {
  border: 1px solid black;
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cetvrtasekcija h1 {
  color: #16df7e;
  font-size: 60px;
}
.cetvrtasekcija p {
  font-size: 17px;
}
.cetvrtasekcija div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.petasekcija {
  border: 1px solid black;
  width: 100%;
  height: 170vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.petasekcija h1,
p {
  text-align: center;
}
.petasekcija h1 {
  color: rgb(104, 103, 103);
  font-size: 40px;
  margin-top: 50px;
}
.petasekcija p {
  font-size: 20px;
  margin: 20px;
}
.divkartica {
  width: 90%;
  height: 150vh;
  border: 1px solid black;
  background-color: burlywood;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.divkartica div {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}
.divkartica div h3 {
  font-size: 25px;
}
.sestasekcija {
  border: 1px solid black;
  width: 100%;
  height: 220vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sestasekcija h1,
p {
  text-align: center;
}
.kategorije {
  border: 1px solid blue;
  width: 50%;
  height: 10vh;
}
.kategorije ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.kategorije li {
  margin: 10px;

  font-size: 20px;
}
.sestasekcija h1 {
  color: rgb(104, 103, 103);
  font-size: 40px;
  margin-top: 50px;
}
.sestasekcija p {
  font-size: 20px;
  margin: 20px;
}
.sestasekcija li:hover {
  color: hsl(151, 82%, 48%);
}

.slika1 {
  width: 350px;
  height: 350px;
}
.slika2 {
  width: 350px;
  height: 250px;
}
.divzaslike {
  border: 1px solid red;
  width: 85%;
  height: 170vh;
  display: flex;
  flex-wrap: wrap;
}

.slika3 {
  width: 350px;
  height: 200px;
}
.slika4 {
  width: 350px;
  height: 500px;
}
.slika5 {
  width: 350px;
  height: 550px;
}
.slika6 {
  width: 350px;
  height: 250px;
}
.slika7 {
  width: 350px;
  height: 250px;
}
.divzaslike1 {
  border: 1px solid green;
  width: 31.5%;
  height: 100%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}
.divzaslike1 div {
  margin-top: 20px;
}
.divzaslike2 {
  border: 1px solid rosybrown;
  width: 31.5%;
  height: 100%;
  margin: 10px;
}
.divzaslike2 div {
  margin-top: 20px;
}
.divzaslike3 {
  border: 1px solid peru;
  width: 31.5%;
  height: 100%;
  margin: 10px;
}
.divzaslike3 div {
  margin-top: 20px;
}
.slika8,
.slika9 {
  width: 350px;
  height: 250px;
}
.sedmasekcija {
  border: 1px solid brown;
  width: 100%;
  height: 100vh;
  background-color: rgb(236, 235, 235);
}
.sedmasekcija h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
  color: rgb(104, 103, 103);
}
.sedmasekcija p {
  font-size: 20px;
  margin: 20px;
}
.testimonials {
  border: 1px solid red;
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: space-evenly;
}
.testimonials div {
  background-color: white;
  border: 1px solid black;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.testimonials p {
  text-align: start;
  font-style: italic;
  color: rgb(63, 62, 62);
}
.testimonials img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 20px;
}
.testimonials h3 {
  margin-left: 20px;
}
.osmasekcija {
  width: 100%;
  height: 40vh;
  background-color: hsl(151, 82%, 48%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.osmasekcija h1 {
  font-size: 35px;
}
.osmasekcija p {
  font-size: 20px;
  margin: 20px;
}
.osmasekcija button {
  border: white 2px solid;
  border-radius: 5px;
  font-size: 17px;
  background-color: #16df7e;
  color: white;
  padding: 10px 30px;
}
.osmasekcija button:hover {
  background-color: rgb(47, 47, 212);
  border: 2px solid #16df7e;
  transition-duration: 0.5s;
}
