* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
header {
  /*border-bottom: 1px solid black;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}
header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
}
header li {
  margin: 10px;
  font-size: 20px;
}
.dugmeheader {
  border: 1px solid grey;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  background-color: white;
}
.dugmeheader:hover {
  background-color: rgb(47, 47, 212);
  color: white;
  transition-duration: 0.5s;
}
.prvasekcija {
  width: 100%;
  height: 78vh;
  /*  border: 1px solid black;*/
  display: flex;
  justify-content: center;
}
.naslov {
  width: 40%;
  height: 70vh;
  /* border: black 1px solid;*/
}
.prvasekcija img {
  width: 40%;
  height: 70vh;
}
.naslov h1 {
  font-size: 50px;
  color: rgb(71, 71, 71);
  margin: 20px;
}
.naslov h3 {
  font-size: 25px;
  color: gray;
  margin-left: 20px;
  margin-bottom: 20px;
}
.getstarted {
  width: 150px;
  height: 40px;
  border: none;
  background-color: #16df7e;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  box-shadow: 5px 5px 18px #16df7e;
}
.watchvideo {
  border: none;
  background-color: white;
  color: gray;
  font-size: larger;
  margin-left: 50px;
}
.drugasekcija {
  /*border: 1px solid black;*/
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.kartica {
  background-color: rgb(238, 235, 235);
  width: 300px;
  height: 250px;
  padding: 20px;
}
.kartica p,
h3 {
  margin-top: 20px;
}
.kartica p {
  font-size: 17px;
}
.kartica h3:hover {
  color: #16df7e;
}
.trecasekcija {
  /*border: 1px solid black;*/
  width: 100%;
  height: 80vh;
  display: flex;

  justify-content: center;
}
.fas {
  font-size: 30px;
  color: #16df7e;
}
.far {
  font-size: 30px;
  color: #16df7e;
}
.trecasekcija img {
  width: 550px;
  height: 350px;
  margin-top: 100px;
}
.trecasekcijatext {
  margin-top: 100px;
  margin-left: 50px;
}
.trecasekcijatext h1 {
  font-size: xx-large;
}
.trecasekcijatext p {
  font-size: 20px;
  margin-top: 20px;
}
.trecasekcijatext li {
  font-size: 17px;
  margin-top: 10px;
}
.cetvrtasekcija {
  /*border: 1px solid black;*/
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cetvrtasekcija h1 {
  color: #16df7e;
  font-size: 60px;
}
.cetvrtasekcija p {
  font-size: 17px;
}
.cetvrtasekcija div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.petasekcija {
  /*border: 1px solid black;*/
  width: 100%;
  height: 170vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(238, 235, 235);
}
.petasekcija h1,
p {
  text-align: center;
}
.petasekcija h1 {
  color: rgb(104, 103, 103);
  font-size: 40px;
  margin-top: 50px;
}
.petasekcija p {
  font-size: 20px;
  margin: 20px;
}
.divkartica {
  width: 90%;
  height: 150vh;
  /*border: 1px solid black;*/
  /*background-color: burlywood;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.divkartica div {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*border: 1px solid red;*/
  background-color: white;
}
.divkartica div h3 {
  font-size: 25px;
}
.sestasekcija {
  /*border: 1px solid black;*/
  width: 100%;
  height: 220vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sestasekcija h1,
p {
  text-align: center;
}
.kategorije {
  /*border: 1px solid blue;*/
  width: 50%;
  height: 10vh;
}
.kategorije ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.kategorije li {
  margin: 10px;

  font-size: 20px;
}
.sestasekcija h1 {
  color: rgb(104, 103, 103);
  font-size: 40px;
  margin-top: 50px;
}
.sestasekcija p {
  font-size: 20px;
  margin: 20px;
}
.sestasekcija li:hover {
  color: hsl(151, 82%, 48%);
}

.slika1 {
  width: 350px;
  height: 350px;
}
.slika2 {
  width: 350px;
  height: 250px;
}
.divzaslike {
  /*border: 1px solid red;*/
  width: 85%;
  height: 170vh;
  display: flex;
  flex-wrap: wrap;
}

.slika3 {
  width: 350px;
  height: 200px;
}
.slika4 {
  width: 350px;
  height: 500px;
}
.slika5 {
  width: 350px;
  height: 550px;
}
.slika6 {
  width: 350px;
  height: 250px;
}
.slika7 {
  width: 350px;
  height: 250px;
}
.divzaslike1 {
  /*border: 1px solid green;*/
  width: 31.5%;
  height: 100%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}
.divzaslike1 div {
  margin-top: 20px;
}
.divzaslike2 {
  /*border: 1px solid rosybrown;*/
  width: 31.5%;
  height: 100%;
  margin: 10px;
}
.divzaslike2 div {
  margin-top: 20px;
}
.divzaslike3 {
  /*border: 1px solid peru;*/
  width: 31.5%;
  height: 100%;
  margin: 10px;
}
.divzaslike3 div {
  margin-top: 20px;
}
.slika8,
.slika9 {
  width: 350px;
  height: 250px;
}
.sedmasekcija {
  /*border: 1px solid brown;*/
  width: 100%;
  height: 100vh;
  background-color: rgb(236, 235, 235);
}
.sedmasekcija h1 {
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
  color: rgb(104, 103, 103);
}
.sedmasekcija p {
  font-size: 20px;
  margin: 20px;
}
.testimonials {
  /*border: 1px solid red;*/
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: space-evenly;
}
.testimonials div {
  background-color: white;
  /* border: 1px solid black;*/
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.testimonials p {
  text-align: start;
  font-style: italic;
  color: rgb(63, 62, 62);
}
.testimonials img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 20px;
}
.testimonials h3 {
  margin-left: 20px;
}
.osmasekcija {
  width: 100%;
  height: 40vh;
  background-color: hsl(151, 82%, 48%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.osmasekcija h1 {
  font-size: 35px;
}
.osmasekcija p {
  font-size: 20px;
  margin: 20px;
}
.osmasekcija button {
  border: white 2px solid;
  border-radius: 5px;
  font-size: 17px;
  background-color: #16df7e;
  color: white;
  padding: 10px 30px;
}
.osmasekcija button:hover {
  background-color: rgb(47, 47, 212);
  border: 2px solid #16df7e;
  transition-duration: 0.5s;
}
.devetasekcija {
  /* border: 1px solid rgb(53, 13, 161);*/
  width: 100%;
  height: 130vh;
  background-color: rgb(243, 242, 242);
}
.devetasekcija h1 {
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
  color: rgb(104, 103, 103);
}
.devetasekcija p {
  font-size: 20px;
  margin: 20px;
}
.teamdiv {
  /* border: 1px solid red;*/
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}
.teamdiv div {
  /* border: 1px solid green;*/
  width: 350px;
  height: 550px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.teamdiv div img {
  width: 300px;
  height: 300px;
}
.teamdiv h3 {
  font-size: 22px;
  color: rgb(43, 42, 42);
}
.teamdiv h6 {
  font-size: 15px;
  color: rgb(104, 103, 103);
  font-style: italic;
}
.teamdiv p {
  color: rgb(104, 103, 103);
  font-style: italic;
}
.ikonice {
  display: flex;
  flex-direction: row;
}
.ikonice .fab {
  font-size: 20px;
  margin: 5px;
  color: rgb(104, 103, 103);
}
.ikonice .fab:hover {
  color: #16df7e;
}
.desetasekcija {
  /*border: 1px solid black;*/
  width: 100%;
  height: 150vh;
}
.desetasekcija h1 {
  text-align: center;

  font-size: 40px;
  padding-top: 50px;
  color: rgb(104, 103, 103);
}
.desetasekcija p {
  font-size: 20px;
  margin: 20px;
}
.location {
  width: 35%;
  height: 700px;
  border-top: 3px solid #16df7e;
  border-bottom: 3px solid #16df7e;
  background-color: rgb(243, 242, 242);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forma {
  width: 50%;
  height: 700px;
  border-top: 3px solid #16df7e;
  border-bottom: 3px solid #16df7e;
  background-color: rgb(243, 242, 242);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.contactsekcija {
  /*border: 1px solid red;*/
  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: space-evenly;
}
.locationredovi {
  /*border: 1px solid red;*/
  width: 90%;
  height: 100px;
  display: flex;
}
.locationredovi h1 {
  font-size: 25px;
  padding-top: 10px;
  text-align: start;
}
.locationredovi p {
  font-size: 17px;
  margin-top: 5px;
  margin-left: 0px;
}
.ikonicecontact {
  /*border: 1px solid blue;*/
  border-radius: 50%;
  width: 60px;
  height: 60%;
  margin: 20px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.textcontact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.forma label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}
.prvadvalabela {
  /*border: 1px solid red;*/
  height: 97px;
  display: flex;
  justify-content: start;
}
.prvadvalabela div {
  width: 40%;
  margin: 20px;
}
.prvadvalabela label {
  font-size: 20px;
  margin-bottom: 10px;
}
.prvadvalabela input {
  height: 40px;
  width: 280px;
}
.subject {
  padding-left: 23px;
  margin-top: 20px;
}
#subject {
  height: 40px;
  width: 572px;
}
.forma button {
  margin: auto;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: #16df7e;
  color: white;
  font-size: 17px;
}
.forma button:hover {
  background-color: rgb(47, 47, 212);
}
.jedanaestasekcija {
  width: 100%;
  height: 65vh;
  background-color: rgb(230, 227, 227);
}
.jedanaestasekcija h1 {
  text-align: center;
  padding-top: 70px;
  font-size: 40px;
  color: rgb(49, 49, 49);
}
.jedanaestasekcija p {
  font-size: 20px;
  margin: 20px;
  font-style: italic;
}
.enteremail {
  /*border: 1px solid red;*/
  display: flex;
  justify-content: center;
}
.enteremail input {
  height: 40px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid gray;
}
.enteremail button {
  width: 130px;
  background-color: #16df7e;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 5px;
}
.ikoniceposlednji {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.ikoniceposlednji .fab {
  font-size: 20px;
  margin: 10px;
}
footer {
  border-top: 2px solid rgb(104, 103, 103);
  width: 80%;
  height: 20%;
  margin-top: 50px;
  margin: auto;
  display: flex;
}
footer div {
  /*border: 1px solid black;*/
  width: 50%;
  height: 100%;
  padding-top: 30px;
}
.designed {
  text-align: right;
}
