* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
header,
footer {
  width: 100%;
  height: 10vh;
  border: 1px solid black;
}
.main {
  display: flex;
}
nav,
aside {
  border: 1px solid black;
  width: 25%;
  height: 80vh;
}
main {
  width: 50%;
  height: 80vh;
  border: 1px solid black;
}

@media only screen and (max-width: 600px) {
  .main {
    flex-wrap: wrap;
  }
}
