.container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
h1 {
  text-align: center;
  margin: 0px;
}
h3 {
  margin: 0px;
}
p {
  color: gray;
}
.manji {
  width: 27%;
  height: 20%;
  border: black 1px solid;
  padding: 20px;
}
.dugme {
  width: 20%;
  height: 10%;
  background-color: blueviolet;
  border: none;
  border-radius: 10px;
}
