.prvi {
  width: 100px;
  height: 100px;
  background-color: darkgoldenrod;
  animation: mojanimacija;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  margin: 15rem;
  position: relative;
}
@keyframes mojanimacija {
  0% {
    top: 0px;
    left: 0px;
    background-color: darkred;
  }
  25% {
    left: 100px;
    top: 0px;
  }
  50% {
    top: 100px;
    left: 100px;
    background-color: deepskyblue;
  }
  75% {
    left: 0px;
    top: 100px;
  }
  100% {
    left: 0px;
    top: 0px;
    background-color: darkred;
  }
}
